button.theme-switch-button {
    display: none !important;
}

/* @font-face {
  font-family: 'Greycliff CF Bold';
  src: url('./GreycliffCF-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
} */




:root {
  --font-sans: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --header-blue: #18324C;
  /* --header-color: var(--header-blue); */
}



@font-face {
  font-family: 'Greycliff CF Bold';
  src: url('GreycliffCF-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Greycliff CF';
  src: url('_static/fonts/GreycliffCF-Regular') format('woff2');
  font-weight: normal;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'Greycliff CF';
  src: url('./_static/fonts/Fontspring-DEMO-greycliffcf-regular') format('otf');
  font-weight: normal;
  font-style: normal;
}  */




h1{
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--font-sans);
  font-weight: bold;
  color: #0073E6 !important;
}


h2,  h3, h4, h5, h6{
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700 !important;
  color: #2F3842 !important;
}

body {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family: var(--font-sans);
  color: #100F0F !important;
}

/* .bd-header {
    background-color: var(--header-blue);
} */

.bg-white\/80 {
  background-color: #18324C !important;
}

article h1:first-of-type {
  display: none;
}

/* h1{
  font-family: 'Greycliff CF Bold', sans-serif;
  font-weight: bold;
  color: #0073E6 !important;
}


h2,  h3, h4, h5, h6{
  font-family: 'Greycliff CF Bold', sans-serif;
  font-weight: 700 !important;
  color: #2F3842 !important;
} */

/* body {
  font-family: 'Greycliff CF', sans-serif;
  color: #100F0F !important;
} */

/* p, li, span, td, th, div {
  font-family: 'Calibri', sans-serif;
  font-weight: normal;
  color: #100F0F !important;
} */

/* .top-banner {
  background-color: #18324C;
  text-align: center;
  padding: 10px 0;
}

.top-banner img.banner {
  max-height: 60px;
}

.bd-sidebar-primary .sidebar-header-items__end {
  display: block !important;
}

.bd-header .navbar-brand {
  display: flex !important;
}

.bd-header-announcement {
  background-color: #18324C !important;
}

.banner {
  max-width: 100%;
  height: auto;
}

img.small-icon {
  width: 50px !important;
  height: auto !important;
  margin-right: 10px;
  float: left;
  display: inline;
} */